backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
decorator==4.3.0
idna==2.8
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
numpy==1.15.1
parso==0.3.1
pickleshare==0.7.4
Pillow==8.2.0
prompt-toolkit==1.0.15
Pygments==2.2.0
reportlab==3.5.12
requests==2.21.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
